body{
    border : 2px solid #FF0000; /*设置body标签的边框厚度，风格，颜色*/
    display : block; /*设置body为块元素*/
    width : 500px;
}

h2{
    border : 5px solid grey;
    background : #eeeeaa;   /*设置h2标签的背景颜色*/
    font-weight : bold;     /*设置h2的字体*/
    font-size : 20px;       /*字体大小*/
    color : red;
    display : block;
    margin : 10;             /*设置与其他元素的距离*/
}

div{
    border : 1px double green;
    background : grey;
    font-weight : lighter; 
    padding-top:20px;
    height:100px;
}

#Table{
    border:2px dashed red;
    font-weight:bolder;
    padding:2px;/*内边距*/ 
}
